<div class="flex flex-col w-full h-full gap-2 p-4 rounded-md bg-theme-light">
  <p class="text-2xl font-bold uppercase text-theme-dark">
    Geordi Dosher
  </p>
  <p class="text-sm text-theme-text">
    is a software engineer living in Oklahoma City. He is a cool guy who makes cool stuff for cool people. He’s worked
    on projects like websites, online applications, video games, and more. In his free time, he enjoys playing jazz
    guitar, woodworking, and working on projects with his wife, Kristin.
  </p>
</div>