---
import TechStackLogo from './TechStackLogo.astro';
import Tech from '../../models/Tech.ts';

const techs = [
  {
    name: 'Vue',
    logo: 'vuejs-original',
  },
  {
    name: 'Node',
    logo: 'nodejs-plain-wordmark',
  },
  {
    name: 'Svelte',
    logo: 'svelte-wordmark',
  },
  {
    name: 'Mongo',
    logo: 'mongodb-plain-wordmark',
  },
  {
    name: 'TypeScript',
    logo: 'typescript-plain',
  },
  {
    name: 'Dot Net',
    logo: 'dotnetcore-plain',
  },
  {
    name: 'Docker',
    logo: 'docker',
  },
  {
    name: 'SQL',
    logo: 'microsoftsqlserver-plain-wordmark',
  }
]
---

<div class="flex flex-col w-full h-full gap-4 p-4 rounded-md bg-theme-light text-theme-dark">
  <div class="flex justify-between">
    <p class="text-2xl font-bold uppercase">Tech Stack</p>
    <div class="flex gap-2">
      <div class="filter-option">All</div>
      <div class="filter-option">Favorites</div>
      <div class="filter-option">Front End</div>
      <div class="filter-option">Back End</div>
    </div>
  </div>

  <div class="flex flex-wrap flex-grow w-full gap-6 pt-2">
    {techs.map(x => (
    <TechStackLogo tech={x} />
    ))}
  </div>
</div>

<style>
  .filter-option {
    @apply rounded-full border-2 border-theme-dark text-theme-dark py-1 text-xs px-2 flex justify-center items-center cursor-pointer;
  }
</style>