---
import Icon from '../Icon.astro';
import Tech from '../../models/Tech.ts';

export interface Props {
  tech: Tech;
}

const { tech } = Astro.props as Props;

---

<div class="flex flex-col items-center gap-2">
  <Icon icon={tech.logo} class="lang-logo" />
  <p class="text-sm font-semibold">{tech.name}</p>
</div>

<style>
  .lang-logo {
    @apply w-8 h-8 fill-theme-dark;
    --alt-color: #AD7461;
  }
</style>