---
import '../styles/global.css';
import Cover from '../components/Cover.astro';
import About from '../components/About.astro';

let title = 'My Astro Site';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
  <div class="fixed">
    <Cover />
  </div>
  <div class="relative">
    <div class="min-h-screen">
      <!-- Spacer -->
    </div>
    <div>
      <About />
    </div>
  </div>
</body>
</html>
