---
import '../styles/global.css';

let title = 'My Astro Site';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
	<div class="bg-gradient-to-br from-indigo-900 to-green-900 min-h-screen overflow-auto">
    <div class="text-white text-lg">
      Hello World
    </div>
  </div>
</body>
</html>
