---
import Icon from './Icon.astro';
---

<div class="flex flex-col items-center w-full gap-10 py-8 bg-theme-med">
  <span class="text-4xl font-semibold text-white">About Me</span>
  <div
    class="grid w-full max-w-5xl grid-flow-col grid-cols-1 grid-rows-4 gap-4 px-8 md:grid-cols-2 md:grid-rows-2 md:px-4">
    <div class="object-cover item">
      <img class="object-cover w-full rounded-md h-72" src="/img/2021_headshot_smiling.jpeg"
        alt="Another photo of me" />
    </div>
    <div class="item">Bio</div>
    <div class="grid w-full h-full grid-flow-row grid-cols-6 grid-rows-2 gap-4">
      <div class="flex-col items-center justify-center col-span-3 item">
        <span class="text-6xl font-extrabold">OKC</span>
        <span class="text-2xl uppercase">Oklahoma</span>
      </div>
      <div class="items-center justify-center col-span-3 item">
        <!-- @todo make this number dynamic -->
        <span class="font-extrabold text-8xl">3</span>
        <div class="flex flex-col">
          <div class="text-2xl">
            <span class="font-extrabold">+</span>
            years
          </div>
          <span class="">experience</span>
        </div>
      </div>
      <div class="flex-col items-center justify-center col-span-2 text-2xl font-bold item">
        <span>Team</span>
        <span>Player</span>
      </div>
      <div class="flex-col items-center justify-center col-span-2 text-2xl font-bold item">
        <span>CS</span>
        <span>Degree</span>
      </div>
      <div class="col-span-2 item">
      </div>
    </div>

    <div class="grid w-full h-full grid-flow-row grid-cols-3 grid-rows-2 gap-4">
      <div class="flex-col items-center justify-center col-span-3 divide-y item divide-theme-dark">
        <div class="flex justify-between w-full max-w-md px-4 pb-3 text-xl font-bold">
          <span>F</span>
          <span>U</span>
          <span>L</span>
          <span>L</span>
          <span>S</span>
          <span>T</span>
          <span>A</span>
          <span>C</span>
          <span>K</span>
        </div>
        <div class="flex justify-between w-full gap-2 pt-3">
          <div class="text-center">Beautiful Websites</div>
          <div class="text-center">Scalable Servers</div>
          <div class="text-center">Efficient Databases</div>
        </div>
      </div>
      <div class="flex-col items-center justify-center col-span-2 divide-y item divide-theme-dark">
        <div class="pb-2 text-lg font-bold uppercase">
          Tech Stack
        </div>
        <div class="flex flex-wrap flex-grow w-full gap-2 pt-2">
          <Icon icon="vuejs-original" class="lang-logo" />
          <Icon icon="nodejs-plain-wordmark" class="lang-logo" />
          <Icon icon="svelte-wordmark" class="lang-logo" />
          <Icon icon="mongodb-plain-wordmark" class="lang-logo" />
          <Icon icon="typescript-plain" class="lang-logo" />
          <Icon icon="dotnetcore-plain" class="lang-logo" />
          <Icon icon="docker" class="lang-logo" />
          <Icon icon="microsoftsqlserver-plain-wordmark" class="lang-logo" />
        </div>
      </div>
      <div class="item">See Full Resume</div>
    </div>
  </div>
</div>

<style>
  .lang-logo {
    @apply w-12 h-12 fill-theme-dark;
    --alt-color: #AD7461;
  }

  .item {
    @apply bg-theme-light rounded-md p-4 w-full h-full text-theme-dark flex
  }
</style>