---

---

<div class="bg-theme-med w-full flex items-center flex-col">
  
  <!-- <img 
    class="w-56 h-56 rounded-full"
    src="/img/serious_headshot_square.jpeg" alt="Headshot of me" 
    /> -->

  <div class="h-96"></div>
  <div class="h-96"></div>
  <div class="h-96"></div>
</div>