<div
  class="bg-blue-400 min-h-screen w-screen overflow-auto text-white text-lg flex justify-center items-center"
>
  <img 
    class="w-80 h-80 rounded-full z-10 border-8 border-slate-800"
    src="/img/serious_headshot_square.jpeg" alt="Headshot of me" 
    />
</div>

<style>
  .long-boi {
    height: 10000px;
  }

  .rotate-20 {
    transform: rotate(20deg);
  }
</style>
