---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer class="px-4 pt-8 pb-24 text-center">
	&copy; {today.getFullYear()} Geordi Dosher. All rights reserved.
	<div class="flex justify-center">
		<SocialLinks />
	</div>
</footer>
<style>
	footer {
		background-color: var(--mono-200);
		color: rgb(var(--gray));
	}
</style>
