---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer class="px-4 pt-8 pb-24 text-center bg-mono-200 text-mono-500">
	&copy; {today.getFullYear()} Geordi Dosher. All rights reserved.
	<div class="flex justify-center">
		<SocialLinks />
	</div>
</footer>
