---
import HeaderLink from './HeaderLink.astro';
import SocialLinks from './SocialLinks.astro';
---

<header class="shadow bg-mono-50">
	<nav>
		<a href="/" class="text-text">
			<span class="hidden sm:block">Geordi Dosher</span>
			<span class="block sm:hidden" aria-hidden="true">GD</span>
		</a>
		<div class="flex gap-4 items-center">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/irl">IRL</HeaderLink>
			<!-- <HeaderLink href="/resume">Resume</HeaderLink> -->
			<SocialLinks size="24" />
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--color-accent);
	}

	.social-link:hover {
		color: var(--color-accent);
	}
</style>
