<nav class="bg-theme-dark text-white w-full h-12 fixed top-0 z-50 flex items-center justify-between px-5">
  <div>
    <svg width="45" height="26" viewBox="0 0 45 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.032 25.288C10.2187 25.288 8.576 24.9893 7.104 24.392C5.632 23.7946 4.36267 22.952 3.296 21.864C2.25067 20.776 1.44 19.496 0.864 18.024C0.288 16.5306 0 14.9093 0 13.16V12.456C0 10.9626 0.256 9.52264 0.768 8.13598C1.30133 6.72798 2.05867 5.46931 3.04 4.35998C4.04267 3.22931 5.25867 2.34398 6.688 1.70398C8.11733 1.04264 9.728 0.711975 11.52 0.711975C13.4613 0.711975 15.1893 1.08531 16.704 1.83198C18.2187 2.55731 19.4347 3.58131 20.352 4.90398C21.2693 6.20531 21.8027 7.71998 21.952 9.44798H18.752C18.6027 8.14664 18.176 7.06931 17.472 6.21598C16.768 5.34131 15.8933 4.69064 14.848 4.26398C13.824 3.81598 12.7147 3.59198 11.52 3.59198C10.304 3.59198 9.184 3.81598 8.16 4.26398C7.136 4.69064 6.25067 5.30931 5.504 6.11998C4.77867 6.93064 4.21333 7.90131 3.808 9.03198C3.40267 10.1626 3.2 11.432 3.2 12.84C3.2 14.44 3.41333 15.848 3.84 17.064C4.288 18.2586 4.90667 19.2613 5.696 20.072C6.48533 20.8613 7.41333 21.4586 8.48 21.864C9.568 22.2693 10.752 22.472 12.032 22.472C13.8453 22.472 15.4347 22.1093 16.8 21.384C18.1867 20.6373 19.232 19.6773 19.936 18.504L18.784 22.312V15.368H21.728V20.936C20.6827 22.3013 19.3387 23.368 17.696 24.136C16.0533 24.904 14.1653 25.288 12.032 25.288ZM11.2 16.008V13.384H23.712V16.008H11.2Z" fill="white"/>
      <path d="M26.2098 24.84V21.96H32.0338C33.4418 21.96 34.6898 21.736 35.7778 21.288C36.8871 20.8186 37.8257 20.1786 38.5938 19.368C39.3831 18.5573 39.9804 17.608 40.3857 16.52C40.7911 15.432 40.9938 14.2586 40.9938 13C40.9938 11.6773 40.7911 10.4826 40.3857 9.41598C39.9804 8.32798 39.3831 7.38931 38.5938 6.59998C37.8257 5.78931 36.8871 5.17064 35.7778 4.74398C34.6898 4.31731 33.4418 4.10398 32.0338 4.10398H26.2098V1.22398H31.7138C33.8258 1.22398 35.6604 1.55464 37.2178 2.21598C38.7751 2.85598 40.0658 3.73064 41.0898 4.83998C42.1351 5.92798 42.9137 7.15464 43.4258 8.51998C43.9378 9.86398 44.1938 11.24 44.1938 12.648V13.352C44.1938 14.7173 43.9378 16.0826 43.4258 17.448C42.9137 18.8133 42.1351 20.0506 41.0898 21.16C40.0658 22.2693 38.7751 23.1653 37.2178 23.848C35.6604 24.5093 33.8258 24.84 31.7138 24.84H26.2098ZM23.7138 24.84V1.22398H26.8498V24.84H23.7138Z" fill="white"/>
    </svg>
  </div>
  <div class="flex gap-7">
    <a href="#" class="text-white hover:text-theme-light">Home</a>
    <a href="#" class="text-white hover:text-theme-light">Work</a>
    <a href="#" class="text-white hover:text-theme-light">Resume</a>
    <a href="#" class="text-white hover:text-theme-light">Uses</a>
    <a href="#" class="text-white hover:text-theme-light">Contact</a>
  </div>
</nav>

